:root {
  // رنگ‌های بنفش جدید
  --purple-darkest: #855cff;
  --purple-darker: #9470ff;
  --purple-dark: #a385ff;
  --purple: #b399ff;
  --purple-light: #c2adff;
  --purple-lighter: #d1c2ff;
  --purple-lightest: #e0d6ff;
  --purple-extra-light: #f0ebff;
  --gray-dark: #333333;
  --gray-darker: #444444;
  --gray: #666666;
  --gray-light: #999999;
  --gray-lighter: #cccccc;
  --gray-lightest: #eeeeee;
  --white: #ffffff;
  // تغییر رنگ‌های اصلی به ترکیب بنفش
  --primary-background-color: var(--white);
  --primary-highlight-color: var(--purple-extra-light);
  --primary-content-color: var(--gray-darker);

  --secondary-background-color: var(--purple-extra-light);
  --secondary-highlight-color: var(--purple-lightest);
  --secondary-content-color: var(--gray-darker);

  --tertiary-background-color: var(--purple-lightest);
  --tertiary-highlight-color: var(--purple-lighter);
  --tertiary-content-color: var(--gray-dark);
}