.logo {
  background-image: url(./assets/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 25%;
  height: 25%;
}

.thumbnail {
  .logo {
    background-size: contain;
  }
}
