@import 'src/styles/sizes';

:root {
  --top-bar-active-background-color: var(--purple-light);
  --top-bar-background-color: var(--purple-extra-light);
  --top-bar-color: var(--gray-darker);
  --top-bar-border-radius: #{$border-radius};
  --top-bar-box-shadow: 0 2px 10px rgba(133, 92, 255, 0.1);
}

.top-bar {
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-color);
  box-sizing: border-box;
  display: flex;
  grid-area: top-bar;
  overflow: hidden;
  padding: 0 $padding-small;
  font-family: var(--font-family);
  border-radius: var(--top-bar-border-radius);
  box-shadow: var(--top-bar-box-shadow);
  margin: $margin-small;
  height: calc(#{$top-bar-height} - #{$margin-small} * 2);
  transition: all 0.3s ease;

  .left,
  .center,
  .right {
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: $padding-small;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    gap: $margin-small;
  }

  .center {
    display: grid;
    justify-content: center;
    width: 100%;
  }

  .title {
    overflow: hidden;
    padding: $padding-small;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: var(--font-weight-semi-bold);
    font-size: 1.1rem;
  }

  .interactive {
    cursor: pointer;
    outline: none;
    border-radius: $border-radius;
    transition: all 0.2s ease;

    &:focus,
    &:hover {
      background-color: var(--top-bar-active-background-color);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}